################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.DS_Store
.vscode
*.iml
.idea
/.vs

/Api/.vs
/Api/bin/Debug/
/Api/packages/
/Api/obj


/c#/.vs
/c#/bin/Debug/
/c#/packages/
/c#/obj


/Test/.vs
/Test/bin/Debug
/Test/packages
/Test/obj

